.racket {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.racket__img {
  width: 100%;
}

.racket__name {
  margin-bottom: 0;
  margin-top: 20px;
  color: #4e5865;
}
