.rackets {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.rackets__filters {
  width: 30%;
}

.rackets__catalog {
  width: 70%;
}

.rackets__title {
  font-weight: 500;
  color: #262626;
}

.rackets__filterList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.rackets__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
}
