html {
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: var(--font-open-sans);
  margin: 0;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}
