.carousel {
  margin-top: 70px;
  padding-right: 40px;
  padding-left: 40px;
}

.carousel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel__title {
  margin: 0;
  font-weight: 500;
  color: #262626;
}

.carousel__all {
  color: #3c82f6;
}
