.carousel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel__title {
  margin: 0;
}

.carousel__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
