.home {
  margin-top: 70px;
  padding-right: 40px;
  padding-left: 40px;
  max-width: 1800px;
  margin: auto;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
