.carousel {
  position: relative;
}

.carousel__left {
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  height: 100%;
  z-index: 10;
  border: 1px solid black;
}

.carousel__right {
  position: absolute;
  right: 0;
  top: 0;
  width: 10%;
  height: 100%;
  z-index: 10;
  border: 1px solid black;
}
