.cardImageWrapper {
  width: 100%;
  aspect-ratio: 3 / 4; /* квадрат */
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #eaeaeb;
  border-radius: 10px;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: contain; /* или cover */
}
