.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 0;
}

.header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__item {
  margin-left: 16px;
}

.header__itemActive {
  color: green;
}
