.footer {
  margin-top: 60px;
  border-top: 1px solid #e5e7eb;
}

.footer__wrapper {
  height: 100%;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  /* display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: stretch; */
}

.footer__title {
  /* grid-row: 2;
  justify-self: start; 
  align-self: center; вертикально в своей строке */
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #4b5563;
}

.footer__note {
  /* grid-row: 3;
  justify-self: start; 
  align-self: end;  */
  font-size: 14px;
  color: #9ca3af;
}
